<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.logistics.dao.IaeArrivalMapper" >
  <select id="queryIaeArrivalNo" resultMap="IaeArrivalMapper">
    select
      i1.ID,
      i2.Carrier,
      i1.SendCompany,
      i1.CargoAddress,
      i2.AcceptCompany,
      i1.StorageDate,
      i2.AbnormalRemarks,
      i1.TimeLimit,
      i1.Batch FROM iae_arrival AS i1 ,iae_lineresource AS i2 where i1.ID=i2.ID
      ORDER BY i1.TimeLimit DESC
      LIMIT #{pages},#{count}
  </select>
  <resultMap id="IaeArrivalMapper" type="IaeArrival">
    <id column="ID" property="id" />
    <result column="SendCompany" property="sendcompany" />
    <result column="CargoAddress" property="cargoaddress" />
    <result column="StorageDate" property="storagedate" />
    <result column="TimeLimit" property="timelimit" />
    <result column="Batch" property="batch" />

    <collection property="iaeLineresourceList" ofType="IaeLineresource">
      <result column="Carrier" property="carrier"/>
      <result column="AcceptCompany" property="acceptcompany"/>
      <result column="AbnormalRemarks" property="abnormalremarks"/>
    </collection>

  </resultMap>
</mapper>