<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.logistics.dao.IaeDepartureMapper" >
    <select id="queryIaejkAll" resultMap="IaeDepartureMapper">
      select
        i1.ID,
        i1.PackingID,
        i4.ID,
        i3.WaybillID,
        i3.VehicleInt,
        i3.ExpectArrivalDate,
        i3.AcceptDate,
        i3.TakeCargoPerson,
        i2.StorageDate,
        i2.SendCompany,
        i2.IssuePerson from iae_departure i1 INNER JOIN iae_arrival i2 ON i1.ID=i2.ID
        INNER JOIN iae_lineresource i3 ON i1.ID=i3.ID
        INNER JOIN iae_extract i4 ON i4.VehicleInt=i3.VehicleInt
        ORDER BY i3.AcceptDate DESC
        LIMIT #{pages},#{count}
  </select>

    <resultMap id="IaeDepartureMapper" type="IaeDeparture">
        <id column="ID" property="id" />
        <result column="PackingID" property="packingid" />

        <collection property="iaeArrivalList" ofType="IaeArrival">
            <result column="StorageDate" property="storagedate"/>
            <result column="SendCompany" property="sendcompany"/>
            <result column="IssuePerson" property="issueperson"/>
        </collection>

        <collection property="iaeLineresourceList" ofType="IaeLineresource">
            <result column="WaybillID" property="waybillid"/>
            <result column="VehicleInt" property="vehicleint"/>
            <result column="ExpectArrivalDate" property="expectarrivaldate"/>
            <result column="AcceptDate" property="acceptdate"/>
            <result column="TakeCargoPerson" property="takecargoperson"/>


            <!--<association property="iaeExtract" javaType="IaeExtract">-->
                <!--<result column="ID" property="id" />-->
                <!--<result column="TransportWay" property="transportway"></result>-->
            <!--</association>-->

            <!--<collection property="iaeExtractList" ofType="IaeExtract">-->
                <!--<result column="ID" property="id" />-->
                <!--<result column="TransportWay" property="transportway"></result>-->
            <!--</collection>-->

        </collection>


        <collection property="iaeExtractList" ofType="IaeExtract">
            <result column="ID" property="id" />
            <result column="TransportWay" property="transportway"></result>
        </collection>

    </resultMap>
</mapper>