<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.logistics.dao.SorCheckboundMapper" >
    <select id="querySorCheckbound" resultMap="SorCheckboundMap">
      SELECT
      s1.CID,
      s1.ScanID,
      s1.CargoSum,
      s2.EmpName,
      s1.CheckDate,
      s1.CheckCompany from sor_checkbound AS s1, sy_emp  AS s2
      where s1.CheckPerson =s2.ID
      ORDER BY s1.CheckDate desc
      LIMIT #{pages},#{count}
  </select>

    <resultMap id="SorCheckboundMap" type="SorCheckbound">
        <id column="CID" property="cid"/>
        <result column="ScanID" property="scanid"/>
        <result column="CargoSum" property="cargosum"/>
        <result column="CheckPerson" property="checkperson"/>
        <result column="CheckDate" property="checkdate"/>
        <result column="CheckCompany" property="checkcompany"/>


        <collection property="syEmpList" ofType="SyEmp">
            <result column="EmpName" property="empname"/>
        </collection>

    </resultMap>

</mapper>