<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.logistics.dao.SorCheckbounddetailsMapper" >
  <select id="querySorCheckbounddetails" resultMap="SorCheckbounddetailsMap">
      select
        s1.ID,
        s1.PackageID,
        s1.CargoCount,
        s1.Weight,
        s1.Volume,
        s1.CargoType,
        s1.Direction,
        s2.EmpNo,
        s1.StorageDate from sor_checkbounddetails AS s1,sy_emp AS s2
        where s1.StoragePerson=s2.id
        ORDER BY s1.StorageDate desc
        LIMIT #{pages},#{count}
  </select>

  <resultMap id="SorCheckbounddetailsMap" type="SorCheckbounddetails">
    <id column="ID" property="id"/>
    <result column="PackageID" property="packageid"/>
    <result column="CargoCount" property="cargocount"/>
    <result column="Weight" property="weight"/>
    <result column="Volume" property="volume"/>
    <result column="CargoType" property="cargotype"/>
    <result column="Direction" property="direction"/>
    <result column="StorageDate" property="storagedate"/>


    <collection property="syEmpList" ofType="SyEmp">
      <result column="EmpName" property="empname"/>
    </collection>
  </resultMap>
</mapper>