<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.logistics.dao.SorOutboundMapper" >
  <select id="querySorOutbound" resultMap="SorOutboundMap">
    SELECT
      s1.OutBoundID,
      s1.HandoverType,
      s1.Line,
      s1.Direction,
      s2.EmpName,
      s1.Carriers,
      s2.EmpName,
      s1.DeliveryDate,
      s1.DeliveryCompany,
      s2.EmpName,
      s1.EnterDate from sor_outbound AS s1, sy_emp AS s2
      where s1.AcceptPerson=s2.ID
      ORDER BY s1.DeliveryDate asc
      LIMIT #{pages},#{count}
  </select>

  <resultMap id="SorOutboundMap" type="SorOutbound">
    <id column="OutBoundID" property="outboundid"/>
    <result column="HandoverType" property="handovertype"/>
    <result column="Line" property="line"/>
    <result column="Direction" property="direction"/>
    <result column="Carriers" property="carriers"/>
    <result column="DeliveryDate" property="deliverydate"/>
    <result column="DeliveryCompany" property="deliverycompany"/>
    <result column="EnterDate" property="enterdate"/>

    <collection property="syEmpList" ofType="SyEmp">
      <result column="EmpName" property="empname"/>
    </collection>

  </resultMap>


</mapper>