<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.logistics.dao.SorPackageMapper" >
  <select id="queryAllpackage" resultMap="SorPackageMapper">
      select
        s1.ID,
        s1.SealInt,
        s1.PackagePerson,
        s3.EmpName,
        s1.Destination,
        s2.DestroyPerson,
        s2.ArrivePlace,
        s1.TimeLimit from sor_package s1 LEFT JOIN sor_destroypackage s2 ON s1.ID=s2.ID
        INNER JOIN sy_emp s3 ON s1.PackagePerson=s3.ID
        ORDER BY s1.TimeLimit DESC
        LIMIT #{pages},#{count}
  </select>

  <resultMap id="SorPackageMapper" type="SorPackage" >
    <id column="ID" property="id" />
    <!--<result column="SorPackageMapper" property="SorPackage" /> -->
    <result column="SealInt" property="sealint" />
    <result column="Destination" property="destination" />
    <result column="ReckonDes" property="reckondes" />
    <result column="TimeLimit" property="timelimit"/>
    <result column="TicketSum" property="ticketsum" />
    <result column="CargoSum" property="cargosum" />
    <result column="WeightSum" property="weightsum" />
    <result column="VolumeSum" property="volumesum" />
    <result column="State" property="state" />
    <result column="Ask" property="ask" />

    <collection property="sorDestroypackageList" ofType="SorDestroypackage">
      <result column="DestroyPerson" property="destroyperson"/>
      <result column="ArrivePlace" property="arriveplace"/>
    </collection>

    <collection property="syEmpList" ofType="SyEmp">
      <result column="EmpName" property="empname"/>
    </collection>

  </resultMap>
</mapper>