<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新增出库交接单</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/page.css">
</head>
<body>

<form class="layui-form">
    <table class="layui-table" style="width: 98%;margin: 5px auto;text-align: center;">
        <colgroup>
            <col width="120">
            <col width="120">
            <col width="120">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td>
                <input type="text" name="id" placeholder="工作单号" autocomplete="off" class="layui-input" value="">
            </td>
            <td>
                <input type="text" name="PackageID" placeholder="合包号" autocomplete="off" class="layui-input" value="">
            </td>
            <td>
                <input type="text" name="cargocount" placeholder="数量" autocomplete="off" class="layui-input" value="">
            </td>
        </tr>


        <colgroup>
            <col width="120">
            <col width="120">
            <col width="120">
            <col>
        </colgroup>
        <tr>
            <td>
                <input type="text" name="weight" placeholder="重量" autocomplete="off" class="layui-input" value="">
            </td>
            <td>
                <input type="text" name="volume" placeholder="体积" autocomplete="off" class="layui-input" value="">
            </td>
            <td>
                <select name="cargotype" lay-verify="required">
                    <option value=""></option>
                    <option value="0">杂货</option>
                    <option value="1">好货</option>
                </select>
            </td>
        </tr>

        <colgroup>
            <col width="120">
            <col width="120">
            <col>
        </colgroup>
        <tr>
            <td>
                <input type="text" name="direction" placeholder="方向" autocomplete="off" class="layui-input" value="">
            </td>
            <td>
                <select name="storageperson" lay-verify="required">
                    <option value=""></option>
                    <option value="0">小红</option>
                    <option value="1">老王</option>
                    <option value="3">小红</option>
                    <option value="4">老王</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="9">
                <button style="background: #1da02b;" type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">确定</button>
                <button type="button" class="layui-btn layui-btn-primary">取消</button>
            </td>
        </tr>





        </tbody>
    </table>
</form>
<script type="text/javascript" src="/customs/jquery.min.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">

   // 加载'form'模块，使checkbox、select、radio初始化
   //  layui.use('form', function(){
   //
   //  });

   var bool = true;
   layui.use(['form', 'layedit', 'laydate'], function(){
       $=layui.jquery;
       var form = layui.form
           ,layer = layui.layer
           ,layedit = layui.layedit
           ,laydate = layui.laydate;

       //日期
       laydate.render({
           elem: '#date'
       });
       laydate.render({
           elem: '#date1'
       });

       //创建一个编辑器
       var editIndex = layedit.build('LAY_demo_editor');

       //自定义验证规则
       // form.verify({
       //     title: function(value){
       //         if(value.length < 5){
       //             return '标题至少得5个字符啊';
       //         }
       //     }
       //     ,pass: [
       //         /^[\S]{6,12}$/
       //         ,'密码必须6到12位，且不能出现空格'
       //     ]
       //     ,content: function(value){
       //         layedit.sync(editIndex);
       //     }
       // });

       //监听指定开关
       // form.on('switch(switchTest)', function(data){
       //     layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
       //         offset: '6px'
       //     });
       //     layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
       // });

       //监听提交
       form.on('submit(demo1)', function(data){
           // layer.alert(JSON.stringify(data.field), {
           //     title: '最终的提交信息'
           // })
           if (bool=true){
               var formData = JSON.stringify(data.field);
               alert(formData)
               $.ajax({
                   url : "/addSorCheckbounddetails",
                   type : "POST",
                   data : {
                       formData : formData
                   },
                   success : function(data){
                       if (data == "success") {
                           //window.location.href = "list.jsp";
                           //获得Frame索引
                           var index=parent.layer.getFrameIndex(window.name);
                           //关闭当前frame
                           parent.layer.close(index);
                       } else {
                           layer.alert("添加失败");
                       }
                   }
               });
           }

           return false;
       });
   });


</script>
</body>
</html>


