<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>新增入库交接单</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
</head> 
<body>
	<form class="layui-form">
	<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
	  	<tbody>
		    <tr>
		    	<td class="layui-bg-gray" width="14%">入库交接单号</td>
		      	<td width="20%">
					<input type="text" name="id" placeholder="入库交接单号" autocomplete="off" class="layui-input" value="">
		      	</td>
		      	<td class="layui-bg-gray" width="13%">接货时间</td>
		      	<td width="20%">
					<input type="text" name="acceptdate" placeholder="默认为系统当前时间" autocomplete="off" class="layui-input" value="" disabled>
		      	</td>
		      	<td class="layui-bg-gray" width="13%">接货人</td>
		      	<td width="20%">
					<input type="text" name="acceptperson" placeholder="请输入接货人" autocomplete="off" class="layui-input" value="">
		      	</td>
		    </tr>
		    <tr>
		      	<td class="layui-bg-gray">接收单位</td>
		      	<td>
					<input type="text" name="acceptcompany" placeholder="请输入接收单位" autocomplete="off" class="layui-input" value="">
				</td>
		      	<td class="layui-bg-gray">发货人</td>
		      	<td>
					<input type="text" name="deliveryperson" placeholder="请输入发货人" autocomplete="off" class="layui-input" value="">
				</td>
		      	<td class="layui-bg-gray">发货单位</td>
		      	<td>
					<input type="text" name="deliverycompany" placeholder="请输入发货单位" autocomplete="off" class="layui-input" value="">
				</td>
		    </tr>
	  	</tbody>
	</table>
	<table class="layui-table" style="width: 98%;margin: 5px auto;text-align: center;">
		<colgroup>
			<col width="20%">
			<col width="20%">
			<col width="20%">
			<col width="20%">
			<col>
		</colgroup>
		<thead>
		<tr>
			<th>单号</th>
			<th>合包号</th>
			<th>重量</th>
			<th>关联出库交接单</th>
			<th>状态</th>
		</tr>
		</thead>
		<tbody>

		<tr>
			<td>
				<input type="text" name="sid" placeholder="请输入单号" autocomplete="off" class="layui-input" value="">
			</td>
			<td>
				<input type="text" name="packageid" placeholder="请输入合包号" autocomplete="off" class="layui-input" value="">
			</td>
			<td>
				<input type="text" name="weight" placeholder="请输入重量" autocomplete="off" class="layui-input" value="">
			</td>
			<td>
				<select name="outboundid" lay-verify="required">
					<option value=""></option>
					<option>asd001</option>
					<option>asd002</option>
				</select>
			</td>
			<td>
				<select name="state" lay-verify="required">
					<option value=""></option>
					<option value="0">中转入库</option>
					<option value="1">二次入库</option>
					<option value="2">初始入库</option>
					<option value="3">有货无单</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<button style="background: #1da02b;" type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">确定</button>
				<button type="button" class="layui-btn layui-btn-primary">取消</button>
			</td>
		</tr>
		</tbody>

	</table>
	</form>
	<script type="text/javascript" src="/customs/jquery.min.js"></script>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript">
        
        //加载'form'模块，使checkbox、select、radio初始化
        // layui.use('form', function(){
        //
        // });
        var bool = true;
        layui.use(['form', 'layedit', 'laydate'], function(){
            $=layui.jquery;
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;

            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });

            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            // form.verify({
            //     title: function(value){
            //         if(value.length < 5){
            //             return '标题至少得5个字符啊';
            //         }
            //     }
            //     ,pass: [
            //         /^[\S]{6,12}$/
            //         ,'密码必须6到12位，且不能出现空格'
            //     ]
            //     ,content: function(value){
            //         layedit.sync(editIndex);
            //     }
            // });

            //监听指定开关
            // form.on('switch(switchTest)', function(data){
            //     layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
            //         offset: '6px'
            //     });
            //     layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            // });

            //监听提交
            form.on('submit(demo1)', function(data){
                // layer.alert(JSON.stringify(data.field), {
                //     title: '最终的提交信息'
                // })
                if (bool=true){
                    var formData = JSON.stringify(data.field);
                    alert(formData)
					$.ajax({
                        url : "/addSorStorage",
                        type : "POST",
                        data : {
                            formData : formData
                        },
                        success : function(data){
                            if (data == "success") {
                                //window.location.href = "list.jsp";
                                //获得Frame索引
                                var index=parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            } else {
                                layer.alert("添加失败");
                            }
                        }
					});
				}

                return false;
            });
        });

      
    </script>
</body> 
</html>
    

