<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新增出库交接单</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/page.css">
</head>
<body>

<form class="layui-form">
    <table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
        <tbody>
        <tr>
            <td class="layui-bg-gray" width="13%">出库单号</td>
            <td width="20%">
                <input type="text" name="outboundid" placeholder="请输入出库单号" autocomplete="off" class="layui-input" value="">
            </td>
            <td class="layui-bg-gray" width="13%">确认人</td>
            <td width="20%">
                <select name="deliveryperson" lay-verify="required">
                    <option value=""></option>
                    <option value="0"></option>
                    <option value="1">老王</option>
                    <option value="2">老王</option>
                    <option value="3">老王</option>
                </select>
            </td>
            <td class="layui-bg-gray" width="13%">交接单类型</td>
            <td width="20%">
                <select name="handovertype" lay-verify="required">
                    <option value=""></option>
                    <option value="0">市内物流交接单</option>
                    <option value="1">长途物流交接单</option>
                    <option value="1">派送清单</option>
                    <option value="1">发货交接单</option>
                </select>
            </td>

        </tr>


        <tr>
            <td class="layui-bg-gray" width="13%">线路资源</td>
            <td width="20%">
                <input type="text" name="line" placeholder="请输入线路资源" autocomplete="off" class="layui-input" value="">
            </td>
            <td class="layui-bg-gray" width="14%">物流方向</td>
            <td width="20%">
                <input type="text" name="direction" placeholder="请输入物流方向" autocomplete="off" class="layui-input" value="">
            </td>
            <td class="layui-bg-gray">出货时间</td>
            <td>
                <input type="text" name="DeliveryDate" placeholder="默认当前时间" autocomplete="off" class="layui-input" value="" disabled>
            </td>
        </tr>

        <tr>

            <td class="layui-bg-gray">承运商</td>
            <td>
                <input type="text" name="carriers" placeholder="请输入承运商" autocomplete="off" class="layui-input" value="">
            </td>
            <td class="layui-bg-gray">接货人</td>
            <td>
                <select name="AcceptPerson" lay-verify="required">
                    <option value=""></option>
                    <option value="0"></option>
                    <option value="1">老王</option>
                    <option value="2">老王</option>
                    <option value="3">老王</option>
                </select>
            </td>
            <td class="layui-bg-gray">交货人</td>
            <td>
                <select name="EnterPerson" lay-verify="required">
                    <option value=""></option>
                    <option value="0"></option>
                    <option value="1">老王</option>
                    <option value="2">老王</option>
                    <option value="3">老王</option>
                </select>
            </td>
        </tr>

        <tr>
            <td class="layui-bg-gray">交货时间</td>
            <td>
                <input type="text" name="EnterDate" placeholder="默认当前时间" autocomplete="off" class="layui-input" value="" disabled>
            </td>
            <td class="layui-bg-gray">交货单位</td>
            <td>
                <input type="text" name="DeliveryCompany" placeholder="请输入交货单位" autocomplete="off" class="layui-input" value="">
            </td>
        </tr>

        </tbody>
    </table>
    <table class="layui-table" style="width: 98%;margin: 5px auto;text-align: center;">
        <colgroup>
            <col width="60">
            <col width="100">
            <col width="100">
            <col width="90">
            <col width="90">
            <col width="120">
            <col width="120">
            <col width="120">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>单号</th>
            <th>合包号</th>
            <th>重量</th>
            <th>体积</th>
            <th>扫描时间</th>
            <th>扫描</th>
            <th>下环节入库</th>
            <th>二次入库</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                <input type="text" name="id" placeholder="单号" autocomplete="off" class="layui-input" value="">
            </td>
            <td>
                <input type="text" name="packageid" placeholder="合包号" autocomplete="off" class="layui-input" value="">
            </td>
            <td>
                <input type="text" name="weight" placeholder="重量" autocomplete="off" class="layui-input" value="">
            </td>
            <td>
                <input type="text" name="volume" placeholder="体积" autocomplete="off" class="layui-input" value="">
            </td>
            <td>
                <input type="text" name="scandate" placeholder="扫描时间" autocomplete="off" class="layui-input" value="" disabled>
            </td>
            <td>
                <select name="isscan" lay-verify="required">
                    <option value=""></option>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </td>
            <td>
                <select name="isnextstorage" lay-verify="required">
                    <option value=""></option>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </td>
            <td>
                <select name="isdoublestorage" lay-verify="required">
                    <option value=""></option>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="9">
                <button style="background: #1da02b;" type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">确定</button>
                <button type="button" class="layui-btn layui-btn-primary">取消</button>
            </td>
        </tr>


        </tbody>
    </table>
</form>
<script type="text/javascript" src="/customs/jquery.min.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">

   // 加载'form'模块，使checkbox、select、radio初始化
   //  layui.use('form', function(){
   //
   //  });

   var bool = true;
   layui.use(['form', 'layedit', 'laydate'], function(){
       $=layui.jquery;
       var form = layui.form
           ,layer = layui.layer
           ,layedit = layui.layedit
           ,laydate = layui.laydate;

       //日期
       laydate.render({
           elem: '#date'
       });
       laydate.render({
           elem: '#date1'
       });

       //创建一个编辑器
       var editIndex = layedit.build('LAY_demo_editor');

       //自定义验证规则
       // form.verify({
       //     title: function(value){
       //         if(value.length < 5){
       //             return '标题至少得5个字符啊';
       //         }
       //     }
       //     ,pass: [
       //         /^[\S]{6,12}$/
       //         ,'密码必须6到12位，且不能出现空格'
       //     ]
       //     ,content: function(value){
       //         layedit.sync(editIndex);
       //     }
       // });

       //监听指定开关
       // form.on('switch(switchTest)', function(data){
       //     layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
       //         offset: '6px'
       //     });
       //     layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
       // });

       //监听提交
       form.on('submit(demo1)', function(data){
           // layer.alert(JSON.stringify(data.field), {
           //     title: '最终的提交信息'
           // })
           if (bool=true){
               var formData = JSON.stringify(data.field);
               alert(formData)
               $.ajax({
                   url : "/addSorOutbound",
                   type : "POST",
                   data : {
                       formData : formData
                   },
                   success : function(data){
                       if (data == "success") {
                           //window.location.href = "list.jsp";
                           //获得Frame索引
                           var index=parent.layer.getFrameIndex(window.name);
                           //关闭当前frame
                           parent.layer.close(index);
                       } else {
                           layer.alert("添加失败");
                       }
                   }
               });
           }

           return false;
       });
   });


</script>
</body>
</html>


